@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply scroll-smooth selection:rounded-xl selection:bg-accent selection:text-gray-900;
	}

	@font-face {
		font-display: block;
		font-family: 'Figtree', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-weight: 400;
		src: url('/assets/fonts/figtree-latin-400-normal.woff2') format('woff2');
	}

	body {
		@apply bg-gray-900 text-white;
	}

	* {
		::-webkit-scrollbar {
			@apply w-3;
		}

		::-webkit-scrollbar-track {
			@apply rounded-full;
		}

		::-webkit-scrollbar-thumb {
			@apply rounded-full bg-accent;
		}
	}
}

@layer components {
	#root {
		@apply mx-auto flex min-h-screen max-w-screen-xl flex-col justify-between;
	}

	main {
		@apply prose flex min-w-full grow flex-col justify-center px-6 py-3;
	}
}

@layer utilities {
	.prose {
		@apply text-inherit;
	}

	.custom-link {
		@apply text-accent transition-all duration-200 hover:underline;
	}

	.br-small {
		@apply my-1 block content-[''];
	}

	.spinner {
		@apply size-8 text-white;

		path:nth-child(2) {
			@apply stroke-[7];
		}

		&.spinner-center {
			@apply flex self-center;
		}
	}
}
